npm-debug.log
papers
node_modules
c.bat
other
todo.txt
play
assembly_
json
notes
docs-create
notes.txt
copydocs.bat
typedoc.json
doc-test.ts
doc-test2.ts
doc-test3.ts
coverage/
experiments/
lab/